



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
	height: 100%;
	
}

/*---------------------------------------------*/
/*Nvigation Bar*/
.navbar
{

  background-color: #3b6978 ;
}
.navbar .navbar-brand
{
  color: #ffffdd;
  font-weight: bolder ;
  letter-spacing: 3px ;
  text-transform: uppercase;
  opacity: 2
}
.navbar .navbar-nav .nav-item .nav-link
{
  font-weight: 400 ;
}
/*/Navigation Bar*/
a {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  font-family: tahoma, sans-serif;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
  font-family: tahoma, sans-serif;
}

p {
	font-family: tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background-color: #fff ;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: tahoma, sans-serif;
  font-size: 30px;
  color: #206a5d ;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
  margin-top: 1rem
}

input.input1 {
  height: 50px;
  border-radius: 5px;
  padding: 0 30px;
  color: #3b6978;
  border: 2px solid #206a5d ;
  font-family: tahoma, sans-serif;
  text-align: right;
}


textarea.input1 {
  min-height: 150px;
  border-radius: 5px;
  padding: 12px 30px;
  border: 2px solid #206a5d ;
  font-family: tahoma, sans-serif;
  text-align: right;
}
textarea.input1 + .shadow-input1 {
  border-radius: 5px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #fff;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}



/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 5px;
  background: #206a5d ;
  font-family: tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  padding: 0 25px;
  border: 2px solid darkred;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}

.contact1-form-btn:hover {
  background: #fff;
  color: #206a5d ;
  border: 1.5px solid #206a5d ;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }
  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

